:root {
  --background: oklch(98% 0 0);
  --foreground: oklch(0 0 0);
  --accent: oklch(50% 0.2 30);
  --focus-color: oklch(75% 0.15 55);
  --card-bg: oklch(96% 0 286);
  --message-bg: oklch(91% 0 286);
  --shadow: oklch(50% 0 285);
  --input-bg: oklch(98% 0 0);
  --button-text: oklch(100% 0 0);
  --disabled: oklch(91% 0 286);
  --error: oklch(from var(--accent) l c 15);
}

[data-theme="dark"] {
  --background: oklch(27% 0 286);
  --foreground: oklch(100% 0 0);
  --accent: oklch(75% 0.15 55);
  --focus-color: oklch(75% 0.15 55);
  --card-bg: oklch(14% 0 285);
  --message-bg: oklch(21% 0 285);
  --shadow: oklch(14% 0 286);
  --input-bg: oklch(27% 0 286);
  --button-text: oklch(100% 0 0);
  --disabled: oklch(21% 0 285);
  --error: oklch(from var(--accent) l c 15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
