.myMessage {
  display: flex;
  flex-direction: column;

  gap: 6px;
  padding: 20px 10px;
  width: 100%;
  background: var(--secondary);
  border-inline-start: 1px solid var(--primary);
  font-size: 1.2rem;
  line-height: 1.5;
  text-wrap: pretty;

  @media (max-width: 768px) {
    border-inline-start: none;
    border-block-start: 1px solid var(--primary);
  }

  &__heading {
    font-weight: 600;
    color: var(--primary);
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  &__subheading {
    font-weight: 600;
    color: var(--primary);
    font-size: 1.4rem;
    margin-top: 8px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    list-style: none;
  }
}
